/*---------- FROM edit.css ------------ */
.body {
-webkit-user-select: none;
cursor: default;
}
/* ---------------- главная панель --------------- */
#panel {
position: absolute;
top: 0;
left: 0;
z-index: 299;
height: 50px;
}
#panel .cont {
position: fixed;
z-index: 10;
width: 100%;
background: #212121;
}
#panel .logo {
margin: 5px 0 0 5px;
display: block;
float: left;
}
.tit {
float: left;
color: #fff;
font-size: 10px;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
text-shadow: 1px 2px 4px #000;
}
.featureBtns {
float: left;
}
.btnBlock,
.featureBtnWrapper {
height: 63px;
width: 70px;
float: left;
border-left: 1px solid #2f2f2f;
}
.panelBtn {
display: block;
color: #ccc;
text-decoration: none;
padding-top: 10px;
font-size: 9px;
text-align: center;
opacity: 0.8;
}
.panelBtn:hover {
opacity: 1;
color: #fff;
}
.panelBtn i {
display: inline-block;
width: 16px;
height: 16px;
background: url(/sd/img/icons.png);
margin-bottom: 7px;
}
.panelBtn.add i {
background-position: -17px 0;
}
.panelBtn.template i {
background-position: -34px 0;
}
.panelBtn.text i {
background-position: -85px 0;
}
.panelBtn.image i {
background-position: -51px 0;
}
.panelBtn.button i {
background-position: -68px 0;
}
.panelBtn.background i {
background-position: -154px 0;
}
.panelBtn.clipart i {
background-position: -137px 0;
}
.panelBtn.render i {
background-position: -102px 0;
}
.panelBtn.settings i {
background-position: -119px 0;
}
.panelBtn.download i {
background-position: -222px 0;
}
.panelBtn.profile i {

}
.blockPreview {
box-sizing: border-box;
/*border: 1px dashed #555;*/
top: 0;
left: 0;
width: 50px;
height: 50px;
background: url(/sd/img/news.png);
}
.block {
background: rgba(0, 170, 238, 0.3);
}
.block.highlight {
background: rgba(0, 270, 138, 0.3);
}
.block .cont a {
cursor: default;
}
/* --------------- панель разделов ----------- */
.dropRightMenu {
width: 200px;
background: #AEAA9F url(/sd/img/panelBg.png) repeat-y top left;
color: #ccc;
position: fixed !important;
top: 0px;
left: 61px;
z-index: 9;
border-bottom-right-radius: 7px;
}
.dropRightMenu .fieldSet {
padding: 10px;
padding-top: 5px;
}
.dropRightMenu .fieldSet .bottomBtns a {
color: #ccc !important;
}
.dropRightMenu .fieldSet .bottomBtns a:hover {
color: #fff !important;
}
.dropRightMenu .fieldSet input {
margin-right: 5px;
width: 130px;
background: #242424;
color: #ccc;
font-size: 11px;
padding: 3px 5px;
border: 1px solid #555;
}
.dropRightMenu .rowElement {
padding-left: 7px;
}
#panel .tit#pageTitle {
font-size: 14px;
border-top: 0px;
}
.hidebleBarHandler.horizontal {
height: 40px;
width: 16px;
background: url(/i/img/white/arrow-left.png) center center no-repeat;
top: 0px;
}
.hidebleBarHandler.show {
background: #555 url(/i/img/white/arrow-right.png) center center no-repeat;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
position: fixed;
}
/* ------------ панель дополнительных блоков -------------- */

.extraBlocks {
top: 70px !important;
}
.dropRightMenu.extraBlocks {
width: 60px;
height: 158px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
/* ------------ иконки блоков -------------- */
.btnBlock {
display: inline-block;
width: 30px;
height: 30px;
background: url(/i/img/icons/page-block-icons.png) no-repeat;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btnBlock.type_text {
background-position: -89px -11px;
}
.btnBlock.type_font {
background-position: -203px -11px;
}
.btnBlock.type_menu {
background-position: -127px -11px;
}
.btnBlock.type_image {
background-position: -50px -11px;
}
.btnBlock.type_feedback {
background-position: -241px -11px;
}
.btnBlock.type_blog {
background-position: -280px -11px;
}
.btnBlock.type_button {
background-position: -319px -11px;
}
.btnBlock.type_auth {
background-position: -11px -11px;
}
.btnBlock.type_tpl {
background-position: -359px -11px;
}
.btnBlock.type_svg {
background-position: -399px -11px;
}
.btnBlock.type_select {
background-position: -449px -11px;
}
/* ------------ конец иконки блоков -------------- */

/* ------------ контролы блоков -------------- */

.btnResize {
position: absolute;
bottom: -1px;
right: -1px;
width: 8px;
height: 8px;
border: 1px solid rgba(0, 0, 0, 0.2);
background: rgba(0, 0, 0, 0.1);
cursor: se-resize;
z-index: 10;
}
.btnResize:hover {
border-color: rgba(0, 0, 0, 0.5);
background: rgba(0, 0, 0, 0.3);
}
.btnRotate {
position: absolute;
top: -1px;
right: -1px;
width: 12px;
height: 12px;
border: 1px solid rgba(0, 0, 0, 0.2);
background: rgba(0, 0, 0, 0.1);
cursor: n-resize;
z-index: 10;
border-radius: 10px;
}
.btnRotate:hover {
border-color: rgba(0, 0, 0, 0.5);
background: rgba(0, 0, 0, 0.3);
}
.lCont > .btnSet {
right: auto;
left: 6px;
}
.btnSet {
z-index: 1;
position: absolute;
right: 0px;
top: 3px;
}
#layout2 > .btnSet {
top: 23px;
}
.block .btnSet {
/*
background: rgba(0, 170, 238, 0.3);
border-bottom-left-radius: 4px;
padding: 0px 0px 3px 3px;
bottom: -20px;
*/
border-top-right-radius: 10px;
background: #91DEFF;
bottom: 0px;
top: auto;
right: auto;
}
#containerfooter .block .btnSet {
top: -20px;
bottom: auto;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
padding: 3px 0px 0px 3px;
}
.block {
border: 1px solid rgba(255, 255, 255, 0.2);
}
.block:hover:not(.nonEditable):not(.active) {
border-color: rgba(255, 255, 255, 0.5);
}
.block.active {
border-color: rgba(255, 255, 255, 1);
}
.dragBox {
width: 15px;
height: 15px;
border-radius: 4px;
margin: 0px 3px 0px 0px;
}
.btn.dragBox2 {
float: left;
width: 17px;
height: 17px;
bottom: -2px;
z-index: 2;
margin-left: 2px;
margin-right: 3px;
position: relative;
}
/* ------------ конец контролов блоков -------------- */

.preview .btnSet,
.preview .control {
display: none;
}
.btnSet a.smIcons.bordered {
margin-right: 0px;
padding: 3px;
border: 0px;
border-radius: 12px;
}
.btnSet a.smIcons.bordered:hover {
background: #FFEB87 !important;
}
.btnSet a.smIcons.bordered:active {
background: #E8CF4F;
box-shadow: inset 0 1px 2px rgba(121, 120, 112, 0.5);
}
.preview .block {
background: none;
border-color: rgba(0, 0, 0, 0);
}
.preview#layout .container, .preview .lCont {
border-color: rgba(0, 0, 0, 0);
}
.ctrlTitle {
float: left;
font-size: 10px;
padding: 2px 5px 0px 0px;
background: #F05030;
color: #000;
display: inline-block;
border-radius: 2px;
padding: 1px 3px;
margin-top: 2px;
margin-right: 9px;
}
.loginForm {
margin-top: 30px;
margin-left: 30%;
margin-right: 30%;
padding-top: 50px;
padding-left: 230px;
height: 220px;
background: url(http://sitedraw.ru/m/img/logo.png) no-repeat;
}
/* ------------------------ диалоги ------------ */
.settingsDialog select {
font-size: 12px;
max-width: 115px;
}
.compactFields .element {
float: left;

font-size: 11px;
}
.compactFields input[type=text], .compactFields select {
max-width: 150px;
}
.compactFields .label {
white-space: nowrap;
}
/* ------------------------ контрол dialogSelect ------------ */

.element.dialogSelectEl {
clear: both;
}
.element.type_fontFamilyCufon .dialogSelect {
width: 185px;
}
.dialogSelect {
overflow: hidden;
position: relative;
box-sizing: border-box;
border: 1px solid #E9E8DB;
margin-bottom: 1px;
border-radius: 5px;
white-space: nowrap;
padding: 3px;
cursor: pointer;
-webkit-user-select: none;
}
.dialogSelect:hover {
border-color: #CCCAB3;
}
.rightFading {
background: url(/i/img/black/right-fading.png) repeat-y;
position: absolute;
top: 0px;
right: 0px;
width: 49px;
height: 100%;
z-index: 1;
}
.element.type_svgSelect .dialogSelect {
width: 100px;
height: 100px;
}
.element.type_svgSelect .dialogSelect svg {
margin: 10px;
width: 70px;
height: 70px;
}
.block.type_blog .btnResize {
cursor: e-resize;
}
/* ------------------------ диалог выбра шрифта и svg ------------ */

.selectDialog .dialog-message {
padding-top: 10px;
}
.selectDialog .selectItems .item {
float: left;
border: 1px solid #E9E8DB;
padding: 5px 8px 0px 8px;
margin: 0px 0px 10px 10px;
cursor: pointer;
overflow: hidden;
box-sizing: border-box;
-webkit-user-select: none;
}
.selectDialog .selectItems .item.selected, .selectItems .item:active {
border-color: #A8A68D;
background-color: #FFFCCF;
}
.selectDialog .selectItems .item:hover {
border-color: #CCCAB3;
}
/* ------------------------ диалог выбра шрифта ------------ */
#fontSelect_dialog .selectItems .item {
width: 170px;
height: 90px;
}
.type_fontFamilyCufon .font {
font-size: 30px;
}
#fontSelect_dialog .selectItems .item .font {
font-size: 32px;
}
/* ------------------------ диалог выбра svg ------------ */
.selectDialog .selectItems svg {
margin: 5px;
width: 50px;
height: 50px;
}
.selectDialog .selectItems .tit {
text-align: center;
margin: 5px 0px 5px 0px;
font-size: 10px;
width: 60px;
text-align: center;
white-space: nowrap;
}
/* -- меняем тень -- */
.dialog-shade {
opacity: 0;
}
#orderBar {
display: none;
position: absolute;
top: 0px;
right: 0px;
width: 150px;
height: 90%;
background: #fff;
z-index: 100;
border: 1px solid #F00;
}
#orderBar .item {
padding: 3px 10px;
border-bottom: 1px solid #ccc;
}
#orderBar .item:hover {
color: #f00;
}
.openBtnsGroupBar {
border: 1px solid #f00;
width: 4px;
height: 10px;
}
/*===============================================*/

#layout1 {
margin-top: 100px;

}
.contentOverlay {
position: absolute;
z-index: 200;
background: #555;
width: 2000px;
height: 2000px;
opacity: 0.7;
pointer-events: none;
}
.preview .contentOverlay {
background: #fff;
opacity: 1;
}
.preview #layers, .preview #panel {
visibility: hidden;
}
.contentOverlayBorder {
position: absolute;
z-index: 200;
border: 1px solid #555;
box-sizing: border-box;
width: 100%;
pointer-events: none;
}
.preview .contentOverlayBorder {
border: none;
}
.contentOverlayLeft {
left: -2000px;
}
.contentOverlayTop {
left: -1000px;
top: -2000px;
}
.contentOverlayBottom {
left: 0;
}
.contentOverlayRight {
top: 0;
}
/* ---------------- панель управления порядком блоков --------------- */
#globalLoader {
z-index: 2100;
}
#layers {
position: absolute;
padding-top: 63px;
height: 100%;
left: 0;
z-index: 299;
}
#layers .cont {
height: 100%;
position: fixed;
width: 200px;
background: #414141;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
color: #fff;
}
#layers .lTitle {
background: #393939 no-repeat url(/sd/img/layers.png) 10px 10px;
padding: 12px 0 12px 40px;
margin-bottom: 10px;
opacity: 0.5;
font-size: 10px;
text-transform: uppercase;
}
#layers .item {
position: relative;
clear: both;
border-bottom: 1px solid #575757;
color: #ccc;
margin-bottom: 5px;
height: 30px;
}
#layers .btns {
position: absolute;
top: 0;
right: 0;
height: 30px;
padding-left: 15px;
width: 40px;
}
.smIcons i {
width: 13px;
height: 13px;
background-image: url(/sd/img/edit-btns.png);
border-color: #575757;
}
a:hover.smIcons.bordered {
border-color: #575757;
}
.smIcons.edit i {
background-position: 1px 1px;
}
.smIcons.delete i {
background-position: -17px 1px;
}
.smIcons.cleanup i {
background-position: -34px 1px;
}
#layers .btns .smIcons {
margin-top: 7px;
}
#layers .btns .smIcons.dummy {
width: 13px;
height: 13px;
margin-right: 4px;
}
#layers .title {
float: left;
font-size: 10px;
padding-left: 10px;
text-align: left;
border-bottom: 1px solid #444;
cursor: pointer;
}
#layers .title .text {
display: inline-block;
width: 100px;
white-space: nowrap;
overflow-x: hidden;
}
#layers .item {
cursor: pointer;
}
#layers .item:hover .title {
text-decoration: underline;
}
#layers .item:active,
#layers .item.drag {
cursor: url(http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur) 4 4, move;
text-decoration: underline;
color: #00AEEF;
border-bottom-color: #00AEEF;
}
#layers .item.active {
text-decoration: underline;
color: #00AEEF;
border-bottom-color: #00AEEF;
}
#layers .title img {
max-height: 25px;
max-width: 25px;
margin: 0;
}
#layers .item_text .title .ico {
border: 1px solid #9C9C9C;
box-sizing: border-box;
}
#layers .item_text .title img {
margin-top: 5px !important;
}
#layers .title .ico {
margin-right: 10px;
display: inline-block;
width: 25px;
height: 25px;
background: #7C7D7F;
vertical-align: middle;
text-align: center;
}
/* -- */
body {
height: 100%;
}
.body {
overflow: hidden;
height: 100%;
}
/* -- background, button -- dialogs */
.dialog-images {
padding: 10px;
}
.dialog-images img {
cursor: pointer;
display: block;
float: left;
margin: 0 1px 2px 0;
padding: 2px;
border: 1px solid #fff;
}
.dialog-images img:hover {
border: 1px solid #ccc;
}
.dialog-images img.selected {
background: #bfdeff;
border-color: #555;
}
/*------loginForm--------*/
.loginForm {
padding: 50px;
}
/*=======================*/
.settingsDialog {
width: 200px !important;
left: auto !important;
right: -15px !important;
top: 0 !important;
padding-top: 63px;
height: 100%;
}
.settingsDialog .mid-float-box {
box-shadow: none !important;
border-radius: 0 !important;
border: 0 !important;
background: none !important;
height: 100%;
background: #414141 !important;
}
.settingsDialog .dialog-title {
margin: 0 !important;
border-radius: 0 !important;
background: #3c3c3c !important;
height: 33px;
font-size: 10px;
text-transform: uppercase;
font-family: Verdana, Tahome, Helvetica;
padding: 0 !important;
color: #9f9f9f;
}
.settingsDialog .md-title-text {
border-bottom: none !important;
padding-top: 10px;
}
.settingsDialog .md-closer {
background-image: url(/sd/img/hide-bar.png) !important;
background-position: center center;
top: 4px;
}
.settingsDialog .dialog-message {
margin: 0 !important;
background: #414141 !important;
color: #ccc;
}
.settingsDialog .dialog-footer {
margin: 0 !important;
}
.settingsDialog .move {
cursor: default;
}
.settingsDialog .btn {
border-radius: 20px !important;
background: #535252;
color: #ccc !important;
text-transform: uppercase;
padding-left: 10px;
padding-right: 10px;
border: none !important;
}
.settingsDialog .btn:hover {
background: #00AEEF !important;
}
.settingsDialog .btn:hover span {
color: #fff !important;
}
.settingsDialog .dialog-footer .foot-wrap {
background: #414141 !important;
}
.settingsDialog .foot-wrap {
padding-right: 20px;
}
.settingsDialog .btn i {
display: none;
}
.settingsDialog .btn i {
display: none;
}
.settingsDialog .dialogSelect {
border-color: #535252;
}
.settingsDialog .dialogSelect:hover {
border-color: #9f9f9f;
}
.apeform .checkbox {
cursor: pointer;
}
.apeform .checkbox:hover label {

border-color: #ccc;
}
/*=====*/
.profileBar {
color: #fff;
position: relative;
float: right;
}
.profileBarBody {
width: 150px;
position: absolute;
top: 0;
right: 0;
}
.profileBarBg {
width: 150px;
height: 62px;
background: #000;
position: absolute;
top: 0;
right: 0;
}
.profileBar:hover .dropdown {
visibility: visible;
}
.profileBar a {
color: #fff;
}
.profileBar .login {
background: #000;
padding: 10px 2px 10px 10px;
}
.profileBar .avatar {
border-radius: 100px;
width: 25px;
height: 25px;
border: 2px solid #fff;
float: left;
margin-right: 7px;
}
.profileBar .email {
font-size: 10px;
width: 90xp;
overflow: hidden;
opacity: 0.5;
}
.profileBar .dropdown {
visibility: hidden;
position: absolute;
background: #000;
width: 150px;
padding: 10px 10px 10px 20px;
}
.profileBar .dropdown a {
display: block;
clear: both;
margin-bottom: 10px;
opacity: 0.6;
text-decoration: none;
font-size: 10px;
padding-bottom: 5px;
}
.profileBar .dropdown a:hover {
opacity: 1;
}
.profileBar .dropdown a i {
display: block;
float: left;
width: 17px;
height: 16px;
margin-right: 10px;
background: url(/sd/img/icons.png);
}
.profileBar .dropdown a span {
display: inline-block;
padding-top: 2px;
}
.profileBar .dropdown a.list i {
background-position: 0 0;
}
.profileBar .dropdown a.profile i {
background-position: -171px 0;
}
.profileBar .dropdown a.logout i {
background-position: -188px 0;
}

.settingsDialog .fieldSet .element {
float: left;
width: 184px;
}
.fieldSet .element input[type=text] {
width: 160px;
}
.apeform .colSet {
display: block;
}

.settingsDialog .fieldSet .rowBtns {
position: absolute;
right: 8px;
top: 7px;
margin-left: 0 !important;
}
.settingsDialog .fieldSet .hgrp {
width: 100%;
position: relative;
}
.settingsDialog .foot-wrap {
border-top: 1px solid #575757;
margin-top: 10px;
}

a:hover.iconBtn, a.over.iconBtn {
border-color: #575757;
box-shadow: none;
}

.questionMark {
cursor: help;
background: #B1B1B1;
border-radius: 15px;
color: #000;
display: inline-block;
font-size: 12px;
width: 15px;
height: 15px;
line-height: 16px;
text-align: center;
font-weight: bold;
}

#layers .questionMark {
margin-left: 10px;
}


.bannerBarWrapper {
width: 100%;
position: absolute;
bottom: 0;
z-index: 298;
}
.bannerBar {
background: #212121;
margin-left: 200px;
position: relative;
overflow-x: hidden;
}
.bannerBarCont {
height: 115px;
overflow-y: hidden;
overflow-x: auto;
}
.bannerBarContInner {
width: 3000px;
padding-right: 30px;
}
.bannerBar .handler {
position: absolute;
top: 0;
left: calc(50% - 25px);
height: 15px;
width: 50px;
background: #414141 url(/i/img/white/arrow-down.png) no-repeat center center;
cursor: pointer;
}
.bannerBar .handler:hover {
background-color: #555555;
}
.bannerBarWrapper.hiddn .handler {
top: -15px;
background-image: url(/i/img/white/arrow-up.png);
}
.bannerBar .item {
display: block;
border: 2px solid #ccc;
width: 50px;
height: 50px;
margin-left: 20px;
margin-top: 30px;
float: left;
background: #000;
}

.bannerBar a.item {
color: #ccc;
text-decoration: none;
text-align: center;
font-size: 10px;
overflow: hidden;
}
.bannerBar .item div {
margin-top: 12px;
}
.bannerBar .item img {
max-height: 50px;
}
.bannerBar .item.selected {
border-color: #f00;
}